@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@400&display=swap');

:root {
  --body-box-sizing: border-box;

  /* text styles */
  --h1-font-size: 40px;
  --h1-line-height: 40px;
  --h1-font-weight: 400;
  --h1-font-family: "Nunito", sans-serif;
  --h1-font-style: normal;
  --h2-font-size: 22px;
  --h2-line-height: 28px;
  --h2-font-weight: 400;
  --h2-font-family: "Nunito", sans-serif;
  --h2-font-style: normal;
  --body-16-font-size: 16px;
  --body-16-line-height: 26px;
  --body-font-weight: 400;
  --body-font-family: "Nunito", sans-serif;
  --body-font-style: normal;
  --body-optical-sizing: auto;

  /*  colors */
  --primary-color: #0d5;
  --background-color: #F8F8F8;
  --preloader-background-color: #F8F8F888;
  --black-86-color: #000000;
  --secondary-color: #08f;
  --error-color: #CB3D40;
  --gray-color: #7E7E7E;
  --light-gray-color: #D0CFCF;

  /* screen width */
  --small-screen-wight: 360px;
  --medium-screen-wight: 768px;
  --large-screen-wight: 1024px;
  --extra-large-screen-wight: 1024px;
}

html,
body,
main{
  width: 100%;
  min-height: 100vh;
  font-family: var(--body-font-family);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
  font-size: var(--body-16-font-size);
  font-optical-sizing: var(--body-optical-sizing);
  background-color: var(--background-color);
  box-sizing: var(--body-box-sizing);
}

h1 {
  font-size: var(--h1-font-size);
  line-height: var(--h1-line-height);
  font-style: var(--h1-font-style);
  font-weight: var(--h1-font-weight);
  font-family: var(--h1-font-family);
}

h2 {
  font-size: var(--h2-font-size);
  line-height: var(--h2-line-height);
  font-style: var(--h2-font-style);
  font-weight: var(--h2-font-weight);
  font-family: var(--h1-font-family);
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  max-width: 1170px;
}
.text-ellipsis{
  display: block;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.w-100{
  width: 100%;
}
/* alignment */
.align-start {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.align-start-center {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.align-start-end {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.align-center-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.align-center-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.align-end-start {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.align-end-center {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.align-end {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

a {
  cursor: pointer;
  color: var(--primary-color);
}
a:hover {
  cursor: pointer;
  color: var(--secondary-color);
}

@media screen and (min-width: var(--medium-screen-wight)) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: var(--large-screen-wight)) {
  .container {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media screen and (min-width: var(--extra-large-screen-wight)) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}
